*{
    margin: 0;
    padding: 0;
}
  .navbar  .container{
    display: flex; 
    align-items: center;    
}
body{
    height:6000px;
   
}
.navbar{
    
    background-color: rgba(0,0,0,.5);
    position: sticky;
    top: 0;
 
}
.logo{

    width: 30%;
    color: yellow;
}
 .logo  p{
    font-size: 30px;
}
.navbar .list{
    flex-grow: 1;
   
}
.list  ul{
    display: flex;
    list-style-type: none;
    gap:10px;
    justify-content:flex-end;
 
   
}
.list ul a{
    text-decoration:none;
    color:#fff;
    text-transform: capitalize;
  
}
.container{
    width: 70%;
    margin: auto;
}

.header{
    background-color: rgb(51, 48, 48);
    color: #fff;
    height: 620px;
    display: flex;
    justify-content: center;
align-items: center;
flex-direction: column;
}
.headr-contect{
    background-color: rgba(0, 0, 0, .2);
    padding: 20px;
    border-top:  5px solid red;
}